* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    gap: 20px;
}

.panelSide {
    display: flex;
    flex-direction: column;
}

.boardSide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    border: 20px solid gray;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 696px;
    width: 696px;
}

.brownSpace {
    background-color: #675849;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whiteSpace {
    background-color: #EBE2D7;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamePiece {
    border-radius: 75%;
    height: 75px;
    width: 75px;
    /* text-align: center; */
}